<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="turtlebot3_burger">

<gazebo>
    <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">
        <left_joint>wheel_left_joint</left_joint>
        <right_joint>wheel_right_joint</right_joint>
        <wheel_separation>0.16</wheel_separation>
        <wheel_radius>0.033</wheel_radius>
        <topic>/cmd_vel</topic>
        <odom_topic>/odom</odom_topic>
    </plugin>

    <plugin name="gz::sim::systems::JointStatePublisher" filename="gz-sim-joint-state-publisher-system"/>
</gazebo>

</robot>